* {
  margin: 0;
  padding: 0;
}
body {
  background: #7fdbff;
}
table {
  width: 30%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  position: relative;
}
td {
  width: 33.333%;
  border: 6px solid #222;
  text-align: center;
}
td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

#newGame {
  margin-left: 46.5%;
  margin-top: 35%;
  position: absolute;
}
